global
	log /dev/log	local0
	log /dev/log	local1 notice
	chroot /var/lib/haproxy
	stats socket /run/haproxy/admin.sock mode 660 level admin
	stats timeout 30s
	user haproxy
	group haproxy
	daemon

	# Default SSL material locations
	ca-base /etc/ssl/certs
	crt-base /etc/ssl/private

	# Default ciphers to use on SSL-enabled listening sockets.
	# For more information, see ciphers(1SSL). This list is from:
	#  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
	ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS
	ssl-default-bind-options no-sslv3

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000
	errorfile 400 /etc/haproxy/errors/400.http
	errorfile 403 /etc/haproxy/errors/403.http
	errorfile 408 /etc/haproxy/errors/408.http
	errorfile 500 /etc/haproxy/errors/500.http
	errorfile 502 /etc/haproxy/errors/502.http
	errorfile 503 /etc/haproxy/errors/503.http
	errorfile 504 /etc/haproxy/errors/504.http

frontend http-in
	bind *:80
	maxconn 10000
	mode http
	default_backend haproxy_http

backend haproxy_http
	balance roundrobin
	mode http
	server app-server1 104.154.41.92:80 maxconn 5 check
	server app-server2 104.197.246.44:80 maxconn 5 check
	#server app-server3 104.197.240.83:80 maxconn 5 check
	#server app-server4 146.148.82.161:80 maxconn 5 check
	#server app-server5 146.148.79.194:80 maxconn 5 check
	server app-server6 146.148.103.215:80 maxconn 5 check
	server app-server7 104.154.89.1:80 maxconn 5 check
	server app-server8 104.197.184.13:80 maxconn 5 check
	server app-server9 146.148.76.52:80 maxconn 5 check
	server app-server10 107.178.216.56:80 maxconn 5 check

listen stats :9000 #Listen on localhost port 9000
	mode http
	stats enable #Enable statiststats hide-version #Hide HAPRoxy version, a necessity for any public-facing site
	stats uri /haproxy_stats #The URI of the stats page, in this case localhost:9000/haproxy_stats
